* {
    margin: 0px;
    padding: 0px;
    /*  includes padding and border in the width and height of an object  */
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.page {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/*****************/
/**** Header *****/
/*****************/

header {
    position: relative;
    height:11.25rem;
}

.header-wrapper {
    height:100%;
}
.site-header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 1% 1% 1% 1%;
}

.site-title {
    margin: 1rem;
    float: none;
    max-width: 100%;
    text-align: center;
}

.navigation {
    margin: 1rem;
    float: none;
    max-width: 100%;
    text-align: center; 
    
}
img {
    height:100px;
    width:83px; 
}

.navigation a {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight:600;
    font-size: 10pt;
    margin-right:20px;
    margin-left:20px;
    
}

a:hover {
        color: #D79FA4;
}

/*****************/
/**** Main *****/
/*****************/

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-bottom:0px;
    margin-top: 11.25rem;
    height:auto;
    
}
.spacing {
    padding: 0;
    }

.style{
    width:100%;
}
.responsive{
    width:100%;
    height:auto;
}



 /*****************/
 /**** Footer ****


footer {
    position: absolute;
}
.site-footer {
    width: 100%;
    padding: 5% 2.5% 2.5% 2.5%;
    background-color: white;
    border-top: .05rem solid black;
}
 ****************/

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    .exploration{
        display: flex;
    }
    .style {
        width: 33.3333333%;
    }
    .site-title {
    margin: 2rem;
    float: left;
    text-align: left;
    
    }
    .navigation {
    margin: 2rem;
    margin-top: 3rem;
    float: right;
    text-align: right;
    
    }


}