
body {
    background-color: #1d1a1a;
    border: 1px dashed yellow;
    
}

.container {        /* this applies to entire sheet because that is what the container is encompassing */
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    color: #ffffff;
/*    border: 1px solid #ffffff;*/
    font-family: 'Playfair Display SC', serif;
    
}

.letter-container {
    width: auto;
    
    
}

.letter-container h1 {
    font-size: 615px;
    text-align: center;
    font-weight: 400; 
    margin-top: -250px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
/*    position: absolute;*/
    width: 600px;
    float: left;
    
        
}


.info-section{
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
/*    width: 550px;*/
/*    float: right;*/
    margin-left: 600px;
    
 
}

.info-section h2 { 
    font-size: 40pt;
    text-align: right;
    font-variant:small-caps;
    font-weight: 100;
   
    
}
.info-section p {
    font-size: 10pt;
    text-align: right;
    line-height: 21pt;
    font-variant:small-caps;
    font-weight: 100;
    
    

}
.sample-set{
    text-align: right;
    width: 600px;
    float: right;
}
.photo-title {
    text-align: right;
    width: 600px;
    float: right;
}
.sources {
    text-align: right;
    width: 600px;
    float: right;
}

